/* Header - Navigation */

#nav-bar {
    background-color: black;
    height: 90px;
}

#about, #news, #contact {
    color: white;
    position: relative;
    top: -50px;
}

#logo {
    width: 80px;
    margin-top: 10px;
}

/* Header */

img#img-header {
    height: 380px;
}

/* Section Videos */

#video-section{
    margin: 20px;
}

/* Form */
#submit-btn {
    width: 100%;
}