/*FIRST INDEX*/


/* General */

body {
    font-family: 'Montserrat', sans-serif;
}

#info-section {
    visibility: visible;
}

h2 {
    color: white;
    position: absolute;
    top: 25px;
    left: 85px;
    padding-left: 15px;
}


/*Navigation */

#logo {
    width: 80px;
    margin-top: 10px;
}


/* Header */

.phrase {
    position: absolute;
    z-index: 5;
    color: white;
    top: 300px;
    left: 40px;
}

header {
    background-image: url("../assets/images/main-image.jpg");
    height: 400px;
    opacity: 0.9;
}


/*Video  Section*/

#video-section {
    margin: 80px;
}

h3 {
    font-size: 50px;
}


/*Buy Section*/

#info-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#buy-btn {
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;
}


/*Footer Section*/

#footer-section {
    background-color: black;
    height: 90px;
}

#footer-section p {
    color: white;
    padding: 30px;
    padding-bottom: 0px;
}


/*SECOND INDEX*/


/*Description product Section*/

#product-section {
    background-image: url("../assets/images/product.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Pre-order now*/

p#total-payment {
    color: black;
    font-size: 20px;
}

#btn-pre-order {
    background-color: #00afb9;
    float: right;
    right: 7%;
    position: fixed;
    margin: 50px;
    padding: 20px;
    font-size: 25px;
    margin-top: 220px;
    z-index: 5;
}

input.form-control {
    width: 100%;
}


/* Form */

#submit-btn {
    width: 200px;
    margin-left: -65%;
    background-color: #00afb9;
}


/*Media queries*/

@media only screen and (max-width: 425px) {
    header {
        background-image: url("../assets/images/mobile-header.jpg");
        height: 400px;
        opacity: 0.9;
        padding-top: 0px;
    }
    #btn-pre-order {
        right: 12%;
    }
}